.leaderboard-page {
  .header {
    max-width: 1200px;
  }
}

.leaderboard {
  padding-top: 112px;
  @include mq('1024') {
    padding-top: 132px;
  }
  &__title {
    text-align: left;
    font-size: 24px;
    margin-bottom: 16px;
    @include mq('1024') {
      font-size: 36px;
    }
  }
}

.leaderboard-list {
  counter-reset: item;
  &__wrapper {
    background: $darkgray;
    border-radius: 10px;
    padding: 8px;
    @include mq('768') {
      padding: 16px;
    }
  }
  &__container {
    @include mq('768') {
      max-height: 676px;
      overflow-y: scroll;
      padding-right: 24px;
    }
  }
  &__top {
    display: flex;
    padding: 0 0 8px;
    @include mq('768') {
      padding: 16px;
    }
  }
  &__title {
    font-size: 12px;
    &:first-child {
      padding: 0 16px 0 8px;
      @include mq('768') {
        padding: 0 16px;
      }
    }
    &:nth-child(2) {
      margin-right: auto;
      @include mq('768') {
        padding: 0 24px;
      }
    }
    &:nth-child(3) {
      margin-left: auto;
      padding: 0 23px;
      @include mq('768') {
        padding:  0 37px;
      }
    }
    &:last-child {
      padding: 0 7px 0 15px;
    }
    @include mq('768') {
      font-size: 16px;
    }
  }
  &-item {
    display: flex;
    counter-increment: item;
    align-items: center;
    height: 40px;
    margin-bottom: 16px;
    @include mq('768') {
      height: 96px;
      margin-bottom: 8px;
      background: $lightgray;
      border-radius: 8px;
      padding: 16px;
    }
    &::before {
      content: counter(item);
      width: 48px;
      height: 100%;
      display: block;
      margin-right: 0;
      text-align: center;
      background: $lightgray;
      border-radius: 6px;
      line-height: 40px;
      font-size: 12px;
      @include mq('768') {
        font-size: 16px;
        line-height: 64px;
        width: 72px;
        background: rgba($color: #FFFEFB
        , $alpha: 0.05)
      }
    }
    &__name {
      margin-right: auto;
      font-size: 14px;
      padding: 0 8px;
      flex-grow: 1;
      width: calc(100% - 189px);
      padding-right: 10px;
      position: relative;
      z-index: 2;
      @include mq('768') {
        font-size: 18px;
        padding: 0 24px;
        max-width: 100%;
        flex-grow: 3;
        width: auto;
      }
      &.overflow {
        cursor: pointer;
        .name:before {
          content: '...';
          right: 8px;
          top: 0;
          height: 100%;
          background: $darkgray;
          position: absolute;
          @include mq('768') {
            display: none;
          }
        }
        &:after {
          content: attr(data-name);
          background: $darkgray;
          border-radius: 8px;
          position: absolute;
          top: -10px;
          left: 0;
          width: fit-content;
          height: auto;
          padding: 8px;
          opacity: 0;
          color: white;
          z-index: 2;
          transition: opacity 0.2s ease-in-out;
          @include mq('768') {
            display: none;
          }
        }
        &:hover {
          &:after {
            opacity: 1;
          }
        }
      }
      .name {
        overflow: hidden;
      }
    }
    &__score {
      margin-left: auto;
      background: $lightgray;
      width: 78px;
      height: 100%;
      border-radius: 6px;
      line-height: 40px;
      text-align: center;
      padding: 0 8px;
      font-size: 12px;
      @include mq('768') {
        font-size: 16px;
        line-height: 64px;
        width: 115px;
        background: rgba($color: #FFFEFB
        , $alpha: 0.05)
      }
    }
    &__change {
      font-size: 12px;
      width: 55px;
      height: 100%;
      text-align: center;
      line-height: 40px;
      font-size: 12px;
      border-radius: 6px;
      padding: 0 8px;
      background: $lightgray;
      margin-left: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include mq('768') {
        font-size: 16px;
        line-height: 64px;
        width: 72px;
        background: rgba($color: #FFFEFB
        , $alpha: 0.05)
      }
      &.top {
        color: $green;
        .arrow {
          background-image: url(../img/top.svg);
        }
      }
      &.bottom {
        color: $red;
        .arrow {
          background-image: url(../img/bottom.svg);
        }
      }
    }
  }
}

.arrow {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-size: contain;
  margin-left: 3px;
  background-repeat: no-repeat;

}
