section.leaderboard
  .container
    h1.leaderboard__title Leaderboard
    .leaderboard-list__wrapper
      .leaderboard-list__container
        .leaderboard-list__top
          span.leaderboard-list__title Place
          span.leaderboard-list__title User
          span.leaderboard-list__title Score
          span.leaderboard-list__title Change
        ul.leaderboard-list
          li.leaderboard-list-item
            .leaderboard-list-item__name
              .name greenkoala518
            .leaderboard-list-item__score
              .score 12’345’678
            .leaderboard-list-item__change.top
              .change 1
              span.arrow
          li.leaderboard-list-item
            .leaderboard-list-item__name
              .name VeryHugeUserNameHere
            .leaderboard-list-item__score
              .score 12’345’678
            .leaderboard-list-item__change.bottom
              .change 1
              span.arrow
          li.leaderboard-list-item
            .leaderboard-list-item__name
              .name blueladybug463
            .leaderboard-list-item__score
              .score 12’345’678
            .leaderboard-list-item__change.top
              .change 1
              span.arrow
          li.leaderboard-list-item
            .leaderboard-list-item__name
              .name crazyelephant681
            .leaderboard-list-item__score
              .score 12’345’678
            .leaderboard-list-item__change.bottom
              .change 1
              span.arrow
          li.leaderboard-list-item
            .leaderboard-list-item__name
              .name blueladybug463
            .leaderboard-list-item__score
              .score 12’345’678
            .leaderboard-list-item__change.top
              .change 2
              span.arrow
          li.leaderboard-list-item
            .leaderboard-list-item__name
              .name crazyelephant681
            .leaderboard-list-item__score
              .score 12’345’678
            .leaderboard-list-item__change.bottom
              .change 3
              span.arrow
          li.leaderboard-list-item
            .leaderboard-list-item__name
              .name blueladybug463
            .leaderboard-list-item__score
              .score 12’345’678
            .leaderboard-list-item__change.top
              .change 10
              span.arrow
          li.leaderboard-list-item
            .leaderboard-list-item__name
              .name crazyelephant681
            .leaderboard-list-item__score
              .score 12’345’678
            .leaderboard-list-item__change.bottom
              .change 1
              span.arrow



