include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.leaderboard-page
    include ../components/global/header
    //main
    main
      include ../pages/leaderboard/leaderboard
    include ../components/global/footer
    //- include ../components/modals/pages
    include ../components/global/scripts
