//first-screen
section.first-sc
  .container.first-sc__container
    +icon('logo')
    h1.first-sc__title Safe and Easy way to Trade Crypto
    p.first-sc__text Trade any tokens on EVM - blockchains with best experience and Account Abstraction in the core.
    .first-sc__badge.badge
      span Powered by
      a(href="#").badge__link logo blast
        img(src="./img/blast.svg", alt="logo blast")

