section.about#about
  .container
    h2.about__title Enhance your trading experience with&nbsp;
      span.main Utopia&nbsp;Bot
    ul.block-list.about__block-list.wow.bounceInUp(data-wow-delay="0.1s")
      li.block-list__item
        h3.block-list__title Sniping &amp; Copytrading
        p Copy the trading strategies of investors with a single click and use with our automated Sniping Modules. Mirror others success trading while enjoying the safety features of Utopia Bot.
      li.block-list__item.wow.bounceInUp(data-wow-delay="0.1s")
        h3.block-list__title Limit Orders Automation
        p Automate using multiple take profit levels, stop loss, and trailing stop loss settings. Execute market orders, set custom dip-buying parameters, and enjoy state-of-the-art precision in your trading strategy.
      li.block-list__item.wow.bounceInUp(data-wow-delay="0.2s")
        h3.block-list__title Anti-Rug &amp; MEV Protection
        p Our advanced anti-rug system ensuring safer trading. MEV protection is built-in to guard against potential exploits, providing maximum security for your trades.
      li.block-list__item.wow.bounceInUp(data-wow-delay="0.2s")
        h3.block-list__title Market Analytics Insights
        p Gain powerful insights and receive meaningful recommendations for optimal asset trading. Leverage our advanced analytics to make data-driven decisions, enhancing your trading strategies.
      li.block-list__item.wow.bounceInUp(data-wow-delay="0.3s")
        h3.block-list__title Monetizing order flow
        p Enjoy minimal slippage and liquidity provider fees. We enable orders execution with cooperation with Market Makers via competitive and permissionless auctions allowing to get zero fees!
      li.block-list__item.wow.bounceInUp(data-wow-delay="0.3s")
        h3.block-list__title Account Abstraction
        p Create a smart wallet that belongs solely to you with our Account Abstraction wallet. Forget about memorizing 12-word seed phrases — use our social login for convenience. Pay gas fees in stablecoins (USDT or USDC) for a hassle-free transaction experience.

