section.roadmap#roadmap
  .container
    h2.roadmap__title Roadmap
    ul.block-list
      li.block-list__item
        h3.block-list__title Step 1
        ol.num-list
          li.num-list__item Launch on Blast Testnet
          li.num-list__item Introduce sniping and copytrading
          li.num-list__item Account Abstraction support
      li.block-list__item
        h3.block-list__title Step 2
        ol.num-list
          li.num-list__item New AI analytics dashboards
          li.num-list__item Social copy-following
          li.num-list__item Academy and trade competitions
