section.roadmap#roadmap
  .container
    h2.roadmap__title Roadmap
    ul.block-list
      li.block-list__item.wow.bounceInUp(data-wow-delay="0.1s")
        h3.block-list__title Q1 2024
        ol.num-list
          li.num-list__item Development Process
          li.num-list__item Test Phase
          li.num-list__item Account Abstraction support
      li.block-list__item.wow.bounceInUp(data-wow-delay="0.1s")
        h3.block-list__title Q2 2024
        ol.num-list
          li.num-list__item Pre-TGE Marketing
          li.num-list__item Launch
          li.num-list__item New Chains &amp; Upgrades
