section.social
  .container
    .yellow-block.social__yellow-block
      h2.yellow-block__title Stay tuned for additional features and exciting updates
      p.yellow-block__text to make your contribution even more rewarding!
      ul.soc-list.social__soc-list
        li.soc-list__item
          a.soc-list__link(href="#" target="_blank") twitter
            +icon('tw')
        li.soc-list__item
          a.soc-list__link(href="#" target="_blank") telegram
            +icon('tg')
        li.soc-list__item
          a.soc-list__link(href="#" target="_blank") discord
            +icon('dc')
        li.soc-list__item
          a.soc-list__link(href="#" target="_blank") github
            +icon('gh')
