section.token#token
  .container
    .main-block.token__main-block.wow.bounceInUp(data-wow-delay="0.1s")
      .main-block__left
        h2.main-block__title Embark on an exciting journey with Utopia Bot
        p.main-block__text Created by team of experienced builders, with a help professional traders. Recognising the vast potential of EVM-chains, our goal is to become the fastest, most reliable trading tool on EVM-chains for every user!
        p.main-block__text Introducing our token,&nbsp;
          b $UB —&nbsp;
          | more than just a token, it symbolizes unity within our community. By holding&nbsp;
          b $UB,&nbsp;
          | you're part of our collective journey to success. Join us in this thrilling adventure, where we all share in victories and triumphs. WAGMI!
        a(href="#join").btn.btn_primary.main-block__btn Trade App
      .main-block__right
        ul.soc-list.token__soc-list
          li.soc-list__item
            a.soc-list__link(href=process.env.TWITTER target="_blank") twitter
              +icon('tw')
          li.soc-list__item
            a.soc-list__link(href=process.env.TELEGRAM target="_blank") telegram
              +icon('tg')
        a.token__logo(href="./")
          img(src="./img/logo-black.svg", alt="Utopia Bot Logo")
