section.token#token
  .container
    .yellow-block.token__yellow-block
      .yellow-block__left
        h2.yellow-block__title Embark on an exciting journey with Blast Trading Bot
        p.yellow-block__text Ceated by a team of passionate traders and for traders. Recognizing the vast potential of Blast blockchain, our goal is to become&nbsp;
          b the fastest, most reliable sniping tool&nbsp;
          | on Blast for everyone.
        p.yellow-block__text Introducing our token,&nbsp;
          b $BLSTBOT —&nbsp;
          | more than just a token, it symbolizes unity within our community. By holding $BLSTBOT, you're part of our collective&nbsp;
          b journey to success.&nbsp;
          | Join us in this thrilling venture, where we all share in victories and triumphs.&nbsp;
          b WAGMI!&nbsp;
          | (We're all gonna make it!)
        a(href="#join").btn.btn_primary.yellow-block__btn Trade App
      .yellow-block__right
        ul.soc-list.token__soc-list
          li.soc-list__item
            a.soc-list__link(href=process.env.TWITTER target="_blank") twitter
              +icon('tw')
          li.soc-list__item
            a.soc-list__link(href=process.env.TELEGRAM target="_blank") telegram
              +icon('tg')
          li.soc-list__item
            a.soc-list__link(href=process.env.DISCORD target="_blank") discord
              +icon('dc')
          li.soc-list__item
            a.soc-list__link(href=process.env.GITHUB target="_blank") github
              +icon('gh')
        a.token__logo(href="./")
          +icon('logo-black')

