//footer
footer.footer
  .container.footer__container
    a.footer__logo(href="#") Logo BlastBot
      img(src="./img/logo.svg", alt="Utopia Bot")
    ul.soc-list.soc-list_gray.footer__soc-list
      li.soc-list__item
        a.soc-list__link(href=process.env.TWITTER target="_blank") twitter
          +icon('tw')
      li.soc-list__item
        a.soc-list__link(href=process.env.TELEGRAM target="_blank") telegram
          +icon('tg')
    .footer-nav
      .footer-nav-block
        span.footer-nav-block__title Product
        ul.footer-nav-block-list
          li.footer-nav-block-list__item
            a.footer-nav-block-list__link(href="#about") About
          li.footer-nav-block-list__item
            a.footer-nav-block-list__link(href="#benefits") Features
          li.footer-nav-block-list__item
            a.footer-nav-block-list__link(href="#token") Token
          li.footer-nav-block-list__item
            a.footer-nav-block-list__link(href=process.env.LEADERBOARD) Leaderboard
          li.footer-nav-block-list__item
            a.footer-nav-block-list__link(href=process.env.REFERRAL) Referral
      .footer-nav-block
        span.footer-nav-block__title Resources
        ul.footer-nav-block-list
          li.footer-nav-block-list__item
            a.footer-nav-block-list__link(href="#roadmap") Roadmap
          li.footer-nav-block-list__item
            a.footer-nav-block-list__link(href="#") Docs
      .footer-nav-block
        span.footer-nav-block__title Legal
        ul.footer-nav-block-list
          li.footer-nav-block-list__item
            a.footer-nav-block-list__link(href="#") Terms &amp; Conditions
          li.footer-nav-block-list__item
            a.footer-nav-block-list__link(href="#") Privacy Policy
    p.copyright © 2024 Utopia Labs. All rights reserved.
