.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-dc {
	font-size:(32/10)*1rem;
	width:(33/32)*1em;
}
.icon-gh {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-logo {
	font-size:(22/10)*1rem;
	width:(162/22)*1em;
}
.icon-logo-black {
	font-size:(22/10)*1rem;
	width:(162/22)*1em;
}
.icon-tg {
	font-size:(32/10)*1rem;
	width:(33/32)*1em;
}
.icon-tw {
	font-size:(32/10)*1rem;
	width:(33/32)*1em;
}
